---
import Layout from "@/layouts/Layout.astro";
import { MapPage } from "@/features/map/page";

const searchParams = new URL(Astro.url).searchParams;
---

<Layout title="Welcome to Astro." description="Test">
  <div class="flex flex-row">
    {new URL(Astro.url).searchParams.get("state")}
  </div>
</Layout>
