---
import Layout from "@/layouts/Layout.astro";
import { MapPage } from "@/features/map/page";

const parseSearchParams = (search: string) => {
  const zoom = searchParams.get("zoom") ?? 4;
  const latitude = searchParams.get("lat");
  const longitude = searchParams.get("lon");

  return {
    zoom: parseInt(zoom),
    latitude: latitude ? parseFloat(latitude) : 37.0902,
  };
};

const searchParams = Astro.url.searchParams;
---

<Layout title="Welcome to Astro." description="Test">
  <div class="flex flex-row">
    <MapPage client:only="solid-js" />
  </div>
</Layout>
