---
import Layout from "@/layouts/Layout.astro";
import { MapPage } from "@/features/map/page";
---

<Layout title="Welcome to Astro." description="Test">
  <div class="flex flex-row">
    <MapPage client:only="solid-js" />
  </div>
</Layout>
